
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <b>User Login</b>
        </div>
        <!-- Card -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <form [formGroup]="loginForm" (ngSubmit)="onsubmit()">
                    <div class="input-group mb-2">
                        <input type="text" class="form-control" formControlName="username" placeholder="Username" name="username">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    @if(loginForm.controls.username.touched && loginForm.controls.username.invalid){
                    <div class="text-danger mb-2" id="usernameError">
                        Username is required.
                    </div>
                    }
                    <div class="input-group mb-2">
                        <input type="password" class="form-control" formControlName="password" placeholder="Password" name="password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    @if(loginForm.controls.password.touched && loginForm.controls.password.invalid){
                        <div class="text-danger mb-2" id="passwordError">
                            Password is required.
                        </div>
                    }
                    <div class="row">

                        <div class="col-4">
                            <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                    </div>
                </form>
                <p class="mb-0">
                    <a routerLink="/register" class="text-center"> New user? Register Now</a>
                </p>
            </div>
        </div>
    </div>
</body>
