<div class="content-wrapper">
    <section class="content">
      <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <!-- Card Container -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">User details</h3>
              </div>
              <!-- Table Content -->
              <div class="card-body">
                <table class="table table-bordered table-hover text-center">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Contact Number</th>
                      <th>Email</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of userDetails | async">
                      <td>{{ user.customerid }}</td>
                      <td>{{ user.name }}</td> 
                      <td>{{ user.contactnumber }}</td> 
                      <td>{{ user.emailaddress }}</td> 
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  
