<div class="container">
  <!-- <button class="refresh-btn btn btn-primary mb-3" (click)="getCarDetails()">Refresh</button> -->

  <div *ngIf="!showCarDetails" class="message">
    Waiting for the details...
  </div>

  <div *ngIf="showCarDetails">
    <div>
      <h3><p><b><u>Car Details</u></b></p></h3>
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>#</th>
            <th>Car Model</th>
            <th>Car Brand</th>
            <th>Reg No</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          @for(car of carDetails; track car.id){
          <tr>
            <td>{{ car.id }}</td>
            <td>{{car.model}}</td>
            <td>{{car.brand}}</td>
            <td>{{car.registrationNumber}}</td>
  
            <td>
              <button class="btn btn-info btn-sm" (click)="getBookingDetails(car.id, car.availability, car.model, car.brand)">View booking</button>
            </td>
          </tr>
        }
        </tbody>
      </table>
    </div>

    @defer(){
      <div *ngIf="showBookingDetails">
        <h3><p><b><u>Booking Details for {{primaryCarBrand}} {{primaryCarModel}}</u></b></p></h3>
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>#</th>
              <th>Source</th>
              <th>Destination</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            @for(booking of bookingDetails; track booking.bookingid){
            <tr>
              <td>{{ booking.bookingid }}</td>
              <td>
                <a [href]="findLocationUrl(booking.source)" target="_blank" rel="noopener noreferrer"> 
                    {{booking.sourceAddress}}
                </a>
              </td>
              <td>
                <a [href]="findLocationUrl(booking.destination)" target="_blank" rel="noopener noreferrer">
                  {{booking.destinationAddress}}
                </a>
              </td>
              <td>
                @if(booking.endtime==null){
                  <button class="btn btn-info btn-sm" (click)="viewDetails(booking.userid)">
                    View Details
                  </button>
                }
                @else{
                  <p>Ride Completed</p>
                }
  
              </td>
            </tr>
          }
          </tbody>
        </table>
      </div>
    }
    @placeholder {
      <div *ngIf="showBookingDetails">
        loading...
      </div>
    }

    <div *ngIf="!showBookingDetails" class="message">
      No Booking Details Available
    </div>


    <div *ngIf="selectedUser" class="card mt-3">
      <div class="card-body">
        <h3>User Details</h3>
        <p><strong>Name:</strong> {{ selectedUser.name }}</p>
        <p><strong>Contact No:</strong> {{ selectedUser.contactnumber }}</p>
        <p><strong>Email:</strong> {{ selectedUser.emailaddress }}</p>
        <button [disabled]="acceptText == 'Ride Accepted'" (click)="acceptRide()" class="btn btn-danger">{{acceptText}}</button>
      </div>
    </div>
  </div>
</div>
