
@if(userType != 'driver'){
  <body>
    <div class="card-container">
      <!-- Card 1 -->
       @if(userType == 'user'){
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{bookingCount}}</h3>
            <p>Number of bookings</p>
          </div>
          <div class="icon">
              <i class="fas fa-taxi"></i>
          </div>
          <a routerLink="../user-booking-details" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
       }

      <!-- Card 2 -->
       @if(userType != 'admin'){
      <div class="small-box bg-success">
        <div class="inner">
          <h3>{{ridingStatus}}<sup style="font-size: 20px"></sup></h3>
          <p>Riding status</p>
        </div>
        <div class="icon">
            <i class="fas fa-clipboard-check"></i>
        </div>
      </div>
    }
    @if(userType=='admin'){
      <div class="small-box bg-warning">
        <div class="inner">
          <h3>44</h3>
          <p>User Registrations</p>
        </div>
        <div class="icon">
          <i class="fas fa-user-plus"></i>
        </div>
        <a routerLink="../user-details" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    }
    @if(userType=='admin'){
      <div class="small-box bg-danger">
        <div class="inner">
          <h3>65</h3>
          <p>Driver Registrations</p>
        </div>
        <div class="icon">
          <i class="fas fa-users"></i>
        </div>
        <a routerLink="../driver-details" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    }
    </div> 
  </body>
}
@else{
  <div class="message p-4">
    Check your schedule to stay updated on today's assigned trips.
  </div>
}

  